In [38]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import datetime 
import pyodbc
import sqlalchemy as sal

In [2]:
url = 'https://www.psx.com.pk/market-summary/#main'

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
container = soup.find('div', class_='col-sm-12 tab-pane inner-content-table automobile-div active')

In [6]:
rows = container.find_all('tr', class_='red-text-td')

In [7]:
dictionary = {
    'titles':[],
    'ldcp': [],
    'opens': [],
    'high': [],
    'low': [],
    'current': [],
    'change': [],
    'volume': [],
    'scrap_time':[]
}

for row in rows:
    a = row.find_all('td')
    dictionary['titles'].append(a[0].text.strip())
    dictionary['ldcp'].append(a[1].text.strip())
    dictionary['opens'].append(a[2].text.strip())
    dictionary['high'].append(a[3].text.strip())
    dictionary['low'].append(a[4].text.strip())
    dictionary['current'].append(a[5].text.strip())
    dictionary['change'].append(a[6].text.strip())
    dictionary['volume'].append(a[7].text.strip())
    dictionary['scrap_time'].append(datetime.datetime.now())

In [43]:
def extract_data():
    url = 'https://www.psx.com.pk/market-summary/#main'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    container = soup.find('div', class_='col-sm-12 tab-pane inner-content-table automobile-div active')
    rows = container.find_all('tr', class_='red-text-td')
    dictionary = {
    'titles':[],
    'ldcp': [],
    'opens': [],
    'high': [],
    'low': [],
    'current': [],
    'change': [],
    'volume': [],
    'scrap_time':[]
    }

    for row in rows:
        a = row.find_all('td')
        dictionary['titles'].append(a[0].text.strip())
        dictionary['ldcp'].append(a[1].text.strip())
        dictionary['opens'].append(a[2].text.strip())
        dictionary['high'].append(a[3].text.strip())
        dictionary['low'].append(a[4].text.strip())
        dictionary['current'].append(a[5].text.strip())
        dictionary['change'].append(a[6].text.strip())
        dictionary['volume'].append(a[7].text.strip())
        dictionary['scrap_time'].append(datetime.datetime.now())
    print(f'✅ Data of {len(dictionary['titles'])} lines extracted successfully.')
    return dictionary

In [48]:
def transform_data(dictionary):
    df = pd.DataFrame(dictionary)
    df = df.replace(',', '', regex=True)
    df = df.replace('', pd.NA)
    type_conv = {
    'ldcp': float,
    'opens': float,
    'high': float,
    'low': float,
    'current': float,
    'change': float,
    'volume': float
    }

    for i in type_conv:
        df[i] = pd.to_numeric(df[i], errors='coerce')
    df['day_range'] = df['high'] - df['low']
    df['volatility_perc'] = ((df['high'] - df['low'])/ df['opens'])*100
    df_volatile = df.nlargest(5, 'volatility_perc')
    df_high_performance = df.nlargest(5, 'change')
    df_low_performance = df.nsmallest(5, 'change')
    return df, df_volatile, df_high_performance, df_low_performance

In [8]:
df = pd.DataFrame(dictionary)
df

,titles,ldcp,opens,high,low,current,change,volume,scrap_time
0,Dewan Auto Engg,31.62,29.4,33.76,29.4,31.2,-0.5,"22,328",2025-05-03 22:07:57.656480
1,Siemens Pak.,"1,500.00",1510.0,1510.0,1510.0,1510.0,,1,2025-05-03 22:07:57.656480
2,Power Cem(Pref),15.23,16.75,16.75,15.16,15.16,-0.07,"4,100",2025-05-03 22:07:57.656480
3,Berger Paints,94.99,96.0,97.84,93.01,94.8,-0.94,"82,947",2025-05-03 22:07:57.656480
4,Engro Poly (Pref),11.99,11.5,11.95,11.5,11.95,-0.04,"7,000",2025-05-03 22:07:57.656480
...,...,...,...,...,...,...,...,...,...
114,Sunrays Textile,170.30,153.27,174.9,153.27,157.8,-8.18,"185,692",2025-05-03 22:07:57.669229
115,Prosperity Weaving,35.00,35.0,35.01,34.0,34.0,,153,2025-05-03 22:07:57.669229
116,Shahtaj Textile,69.88,75.85,75.85,62.89,72.05,,257,2025-05-03 22:07:57.669229
117,Zephyr Textile,12.49,11.24,11.99,11.24,11.99,-1.12,600,2025-05-03 22:07:57.669229
118,Pak TobaccoXD,"1,192.39",1193.0,1199.98,1145.25,1160.0,-30.05,"3,844",2025-05-03 22:07:57.669229

In [9]:
df.dtypes

titles                object
ldcp                  object
opens                 object
high                  object
low                   object
current               object
change                object
volume                object
scrap_time    datetime64[ns]
dtype: object

In [10]:
df = df.replace(',', '', regex=True)
df = df.replace('', pd.NA)

In [11]:
type_conv = {
    'ldcp': float,
    'opens': float,
    'high': float,
    'low': float,
    'current': float,
    'change': float,
    'volume': float
}

for i in type_conv:
    df[i] = pd.to_numeric(df[i], errors='coerce')

In [12]:
df.dtypes

titles                object
ldcp                 float64
opens                float64
high                 float64
low                  float64
current              float64
change               float64
volume                 int64
scrap_time    datetime64[ns]
dtype: object

In [13]:
df['change'].nlargest(5)

49   -0.01
28   -0.02
48   -0.02
61   -0.02
63   -0.02
Name: change, dtype: float64

In [14]:
df['opens'].nlargest(5)

17     23500.00
1       1510.00
43      1500.02
118     1193.00
91      1073.50
Name: opens, dtype: float64

In [15]:
df['day_range'] = df['high'] - df['low']

In [16]:
df

,titles,ldcp,opens,high,low,current,change,volume,scrap_time,day_range
0,Dewan Auto Engg,31.62,29.40,33.76,29.40,31.20,-0.50,22328,2025-05-03 22:07:57.656480,4.36
1,Siemens Pak.,1500.00,1510.00,1510.00,1510.00,1510.00,NaN,1,2025-05-03 22:07:57.656480,0.00
2,Power Cem(Pref),15.23,16.75,16.75,15.16,15.16,-0.07,4100,2025-05-03 22:07:57.656480,1.59
3,Berger Paints,94.99,96.00,97.84,93.01,94.80,-0.94,82947,2025-05-03 22:07:57.656480,4.83
4,Engro Poly (Pref),11.99,11.50,11.95,11.50,11.95,-0.04,7000,2025-05-03 22:07:57.656480,0.45
...,...,...,...,...,...,...,...,...,...,...
114,Sunrays Textile,170.30,153.27,174.90,153.27,157.80,-8.18,185692,2025-05-03 22:07:57.669229,21.63
115,Prosperity Weaving,35.00,35.00,35.01,34.00,34.00,NaN,153,2025-05-03 22:07:57.669229,1.01
116,Shahtaj Textile,69.88,75.85,75.85,62.89,72.05,NaN,257,2025-05-03 22:07:57.669229,12.96
117,Zephyr Textile,12.49,11.24,11.99,11.24,11.99,-1.12,600,2025-05-03 22:07:57.669229,0.75
118,Pak TobaccoXD,1192.39,1193.00,1199.98,1145.25,1160.00,-30.05,3844,2025-05-03 22:07:57.669229,54.73

In [17]:
df['volatility_perc'] = ((df['high'] - df['low'])/ df['opens'])*100

In [18]:
df

,titles,ldcp,opens,high,low,current,change,volume,scrap_time,day_range,volatility_perc
0,Dewan Auto Engg,31.62,29.40,33.76,29.40,31.20,-0.50,22328,2025-05-03 22:07:57.656480,4.36,14.829932
1,Siemens Pak.,1500.00,1510.00,1510.00,1510.00,1510.00,NaN,1,2025-05-03 22:07:57.656480,0.00,0.000000
2,Power Cem(Pref),15.23,16.75,16.75,15.16,15.16,-0.07,4100,2025-05-03 22:07:57.656480,1.59,9.492537
3,Berger Paints,94.99,96.00,97.84,93.01,94.80,-0.94,82947,2025-05-03 22:07:57.656480,4.83,5.031250
4,Engro Poly (Pref),11.99,11.50,11.95,11.50,11.95,-0.04,7000,2025-05-03 22:07:57.656480,0.45,3.913043
...,...,...,...,...,...,...,...,...,...,...,...
114,Sunrays Textile,170.30,153.27,174.90,153.27,157.80,-8.18,185692,2025-05-03 22:07:57.669229,21.63,14.112351
115,Prosperity Weaving,35.00,35.00,35.01,34.00,34.00,NaN,153,2025-05-03 22:07:57.669229,1.01,2.885714
116,Shahtaj Textile,69.88,75.85,75.85,62.89,72.05,NaN,257,2025-05-03 22:07:57.669229,12.96,17.086355
117,Zephyr Textile,12.49,11.24,11.99,11.24,11.99,-1.12,600,2025-05-03 22:07:57.669229,0.75,6.672598
118,Pak TobaccoXD,1192.39,1193.00,1199.98,1145.25,1160.00,-30.05,3844,2025-05-03 22:07:57.669229,54.73,4.587594

In [19]:
df['volatility_perc'].nlargest(5)

77     27.034884
37     20.979021
55     19.907763
108    19.638243
35     18.995516
Name: volatility_perc, dtype: float64

In [20]:
df_volatile = df.nlargest(5, 'volatility_perc')

In [21]:
df_high_performance = df.nlargest(5, 'change')

In [22]:
df_low_performance = df.nsmallest(5, 'change')

def create_connection():
    conn_str = 'mssql://DESKTOP-QMACISC/airflowProject?driver=ODBC+DRIVER+17+FOR+SQL+SERVER'

    try:
        engine = sal.create_engine(conn_str)
        conn = engine.connect()
        print("✅ Connected to SQL Server successfully!")
        return conn
    except Exception as e:
        print(f"❌ Error connecting to SQL Server: {e}")
        return None

def insert_data():
    conn = create_connection()
    if not conn:
        return
    try:
        df.to_sql(f'psx_info', con=conn, index=True, index_label='id', if_exists='append')
        print(f"✅ Inserted {len(df)} rows into database.")
    except Exception as e:
        print(f"❌ Error creating table: {e}")

    
    try:
        df_volatile.to_sql(f'psx_volatile', con=conn, index=True, index_label='id',  if_exists='append')
        print(f"✅ Inserted {len(df_volatile)} rows into database.")
    except Exception as e:
        print(f"❌ Error creating table: {e}")

    
    try:
        df_high_performance.to_sql(f'psx_high_performance', con=conn, index=True, index_label='id', if_exists='append')
        print(f"✅ Inserted {len(df_high_performance)} rows into database.")
    except Exception as e:
        print(f"❌ Error creating table: {e}")

    
    try:
        df_low_performance.to_sql(f'psx_low_performance', con=conn, index=True, index_label='id', if_exists='append')
        print(f"✅ Inserted {len(df_low_performance)} rows into database.")
    except Exception as e:
        print(f"❌ Error creating table: {e}")

✅ Connected to SQL Server successfully!
✅ Inserted 119 rows into database.
✅ Inserted 5 rows into database.
✅ Inserted 5 rows into database.
✅ Inserted 5 rows into database.

In [44]:
extract_data()

✅ Data of 119 lines extracted successfully.

{'titles': ['Dewan Auto Engg',
  'Siemens Pak.',
  'Power Cem(Pref)',
  'Berger Paints',
  'Engro Poly (Pref)',
  'Ittehad Chemicals',
  'Sitara Peroxide',
  'Bank Makramah',
  'Samba Bank',
  'St.Chart.Bank',
  'Aisha StelCoP/S',
  'Dadex Eternit',
  'Metro Steel',
  'Mughal Iron',
  'Alfalah Consumer',
  'National Foods',
  'Shield Corp.',
  'Unilever FoodsXD',
  'ZIL Limited',
  'AGP-MAYB',
  'CNERGY-MAY',
  'GATM-MAY',
  'OCTOPUS-MAY',
  'SNGP-MAY',
  'SYS-MAYB',
  'Ask.Gen.Insur.XD',
  'Askari Life Ass',
  'EFU Life AssuranceXD',
  'Habib Ins.XD',
  'Pak Gen.Ins.',
  'PICIC Ins.Ltd.',
  '786 Invest Ltd',
  'Apna Microfin.',
  'Calcorp Limited',
  'Dawood Equities',
  'Dawood LawXD',
  'First Cap.Equit',
  'Imperial Limite',
  'JahangirSidd(Pref)XD',
  'JS Global Cap.',
  'LSE Fin. Services',
  'Sec. Inv. BankXD',
  'Trust Brokerage',
  'Bata (Pak) Ltd.',
  'Diamond Ind.',
  'GOC (Pak) Ltd.',
  'Olympia Mills',
  'Pak Services',
  'Tri-Pack Films',
  'UDL Int.Ltd.',
  'United Brands',
  '1st.Fid.Leasing',
  'B.F.Modaraba',
  'OLP Modaraba',
  'Paramount Mod',
  'Popular Islamic',
  'Burshane LPG',
  'Sui North Gas',
  'Merit Packaging',
  'Abbott Lab.',
  'AGP Limited',
  'Engro PowergenXD',
  'B.R.R Guardia Ltd',
  'Globe Residency',
  'TPL REIT Fund I',
  'AL-Noor Sugar',
  'Chashma Sugar',
  'Faran Sugar Mills',
  'Habib Rice Prod',
  'Haseeb Waqas Sugar',
  'Khairpur Sugar',
  'Mehran Sugar',
  'Sakrand Sugar',
  'Sanghar Sugar',
  'Shahmurad Sugar',
  'Shahtaj Sugar',
  'Tandlianwala Sugar',
  'Tariq Corp(Pref)',
  'Gatron Ind.',
  'Ibrahim Fibres',
  'National Silk',
  'Aruj Industries',
  'Blessed Tex.',
  'Ghazi Fabrics',
  'Hala Enterprise',
  'Jubilee Spinning',
  'Khyber Textile',
  'Kohinoor Ind.',
  'Kohinoor Mills',
  'Masood Textile',
  'Mehmood Tex.',
  'Sapphire Fiber',
  'Sapphire Tex.',
  'Suraj Cotton Mills',
  'Towellers Limited',
  'Ali Asghar Textile',
  'D.M.Textile Mills',
  'D.S. Ind. Ltd.',
  'Dewan Textile',
  'Din Textile',
  'Ellcot Spinning',
  'Gulistan Sp.',
  'Idrees Textile',
  'Indus Dyeing',
  'J.A.Textile',
  'Janana D Mal',
  'Maqbool Textile',
  'Nagina Cotton',
  'Nazir Cotton Mills',
  'Reliance Cotton',
  'Ruby Textile',
  'Saif Textile',
  'Sana Ind.',
  'Saritow Spinning',
  'Sunrays Textile',
  'Prosperity Weaving',
  'Shahtaj Textile',
  'Zephyr Textile',
  'Pak TobaccoXD'],
 'ldcp': ['31.62',
  '1,500.00',
  '15.23',
  '94.99',
  '11.99',
  '70.03',
  '12.02',
  '3.67',
  '8.61',
  '59.76',
  '15.00',
  '56.90',
  '9.01',
  '62.17',
  '15.40',
  '244.42',
  '277.60',
  '23,469.75',
  '315.00',
  '186.75',
  '7.21',
  '22.93',
  '48.32',
  '126.94',
  '536.45',
  '28.87',
  '4.99',
  '140.41',
  '7.54',
  '8.74',
  '3.37',
  '8.43',
  '10.99',
  '41.49',
  '8.50',
  '215.82',
  '4.00',
  '15.87',
  '8.80',
  '101.58',
  '19.49',
  '8.55',
  '12.87',
  '1,583.19',
  '23.91',
  '62.50',
  '30.00',
  '957.03',
  '127.00',
  '7.01',
  '20.93',
  '1.99',
  '7.20',
  '16.05',
  '7.84',
  '14.18',
  '29.03',
  '126.42',
  '9.53',
  '969.91',
  '186.05',
  '27.05',
  '20.80',
  '15.52',
  '13.04',
  '75.91',
  '63.26',
  '47.08',
  '31.80',
  '9.02',
  '120.00',
  '45.81',
  '12.23',
  '51.00',
  '381.05',
  '120.00',
  '90.00',
  '7.88',
  '114.84',
  '350.01',
  '42.46',
  '7.57',
  '268.88',
  '9.37',
  '10.54',
  '12.70',
  '456.31',
  '10.24',
  '31.20',
  '53.01',
  '319.31',
  '1,067.78',
  '1,060.00',
  '123.14',
  '116.85',
  '45.11',
  '44.76',
  '5.36',
  '5.30',
  '49.99',
  '112.19',
  '6.88',
  '17.89',
  '124.26',
  '20.90',
  '48.18',
  '33.32',
  '56.90',
  '12.90',
  '440.22',
  '7.29',
  '8.85',
  '24.31',
  '13.51',
  '170.30',
  '35.00',
  '69.88',
  '12.49',
  '1,192.39'],
 'opens': ['29.4',
  '1510.0',
  '16.75',
  '96.0',
  '11.5',
  '69.0',
  '12.2',
  '3.74',
  '8.55',
  '59.75',
  '15.0',
  '56.9',
  '9.2',
  '61.99',
  '15.01',
  '244.5',
  '265.0',
  '23500.0',
  '314.5',
  '189.99',
  '7.15',
  '22.8',
  '48.0',
  '128.9',
  '535.0',
  '30.25',
  '4.9',
  '141.0',
  '7.3',
  '9.0',
  '3.26',
  '8.1',
  '9.89',
  '45.0',
  '9.37',
  '223.0',
  '3.9',
  '14.3',
  '8.69',
  '105.0',
  '20.8',
  '8.55',
  '14.15',
  '1500.02',
  '25.0',
  '64.0',
  '32.99',
  '912.02',
  '126.9',
  '7.49',
  '21.0',
  '1.99',
  '7.39',
  '16.48',
  '7.26',
  '13.01',
  '29.03',
  '128.0',
  '9.5',
  '951.0',
  '183.01',
  '27.15',
  '20.5',
  '15.52',
  '13.2',
  '72.1',
  '63.99',
  '0',
  '30.13',
  '9.49',
  '109.11',
  '47.89',
  '12.49',
  '46.0',
  '360.0',
  '120.0',
  '81.2',
  '6.88',
  '114.84',
  '340.0',
  '46.71',
  '7.97',
  '260.0',
  '9.14',
  '10.4',
  '13.97',
  '456.28',
  '10.02',
  '29.85',
  '55.0',
  '339.97',
  '1073.5',
  '1060.0',
  '123.14',
  '117.01',
  '45.5',
  '44.76',
  '5.65',
  '5.94',
  '44.99',
  '115.89',
  '6.6',
  '19.68',
  '128.8',
  '22.77',
  '46.35',
  '32.0',
  '56.0',
  '11.61',
  '459.77',
  '7.12',
  '8.31',
  '24.55',
  '13.94',
  '153.27',
  '35.0',
  '75.85',
  '11.24',
  '1193.0'],
 'high': ['33.76',
  '1510.0',
  '16.75',
  '97.84',
  '11.95',
  '72.5',
  '12.2',
  '3.75',
  '9.0',
  '61.44',
  '15.0',
  '57.99',
  '9.4',
  '63.0',
  '15.16',
  '244.5',
  '290.0',
  '24000.0',
  '330.0',
  '190.0',
  '7.27',
  '23.1',
  '48.9',
  '130.9',
  '535.0',
  '31.65',
  '4.95',
  '142.98',
  '7.9',
  '9.0',
  '3.7',
  '8.1',
  '10.0',
  '45.15',
  '9.37',
  '236.6',
  '3.9',
  '17.3',
  '8.69',
  '105.0',
  '20.8',
  '8.57',
  '14.16',
  '1599.98',
  '25.0',
  '64.0',
  '32.99',
  '1032.98',
  '127.0',
  '7.49',
  '21.24',
  '2.1',
  '7.39',
  '16.48',
  '7.8',
  '15.6',
  '29.4',
  '130.87',
  '10.0',
  '999.0',
  '185.0',
  '28.0',
  '21.5',
  '15.85',
  '13.2',
  '76.1',
  '63.99',
  '0',
  '31.0',
  '9.49',
  '129.0',
  '47.89',
  '12.49',
  '51.99',
  '399.88',
  '120.0',
  '90.0',
  '8.74',
  '115.0',
  '355.0',
  '46.71',
  '7.97',
  '270.0',
  '9.96',
  '11.0',
  '13.97',
  '499.99',
  '10.87',
  '31.44',
  '55.25',
  '339.97',
  '1073.5',
  '1060.0',
  '123.14',
  '119.0',
  '47.0',
  '44.76',
  '5.65',
  '5.94',
  '49.85',
  '115.9',
  '7.0',
  '19.68',
  '128.8',
  '22.9',
  '51.25',
  '32.0',
  '56.0',
  '13.89',
  '460.0',
  '7.14',
  '8.91',
  '26.45',
  '13.94',
  '174.9',
  '35.01',
  '75.85',
  '11.99',
  '1199.98'],
 'low': ['29.4',
  '1510.0',
  '15.16',
  '93.01',
  '11.5',
  '69.0',
  '11.75',
  '3.55',
  '8.5',
  '56.06',
  '15.0',
  '56.0',
  '9.2',
  '61.11',
  '15.01',
  '239.0',
  '249.84',
  '21200.02',
  '290.0',
  '175.4',
  '6.95',
  '22.5',
  '47.7',
  '125.11',
  '534.0',
  '30.25',
  '4.77',
  '139.01',
  '7.3',
  '7.74',
  '3.1',
  '8.1',
  '9.89',
  '37.42',
  '8.41',
  '194.24',
  '3.9',
  '14.3',
  '8.69',
  '105.0',
  '19.0',
  '8.55',
  '14.15',
  '1500.02',
  '24.9',
  '60.1',
  '30.0',
  '912.02',
  '126.9',
  '6.9',
  '20.13',
  '1.86',
  '7.19',
  '16.4',
  '7.26',
  '13.01',
  '28.25',
  '124.75',
  '9.25',
  '951.0',
  '173.12',
  '26.9',
  '20.5',
  '15.5',
  '13.2',
  '72.1',
  '59.33',
  '0',
  '30.1',
  '8.72',
  '109.11',
  '47.66',
  '12.0',
  '46.0',
  '360.0',
  '120.0',
  '81.2',
  '6.88',
  '109.0',
  '333.0',
  '38.26',
  '7.33',
  '242.33',
  '9.05',
  '10.33',
  '11.43',
  '420.0',
  '10.02',
  '29.3',
  '50.0',
  '312.04',
  '1073.47',
  '1060.0',
  '123.14',
  '114.0',
  '45.5',
  '44.76',
  '4.95',
  '5.0',
  '44.99',
  '102.0',
  '6.6',
  '17.05',
  '113.01',
  '20.25',
  '46.35',
  '32.0',
  '56.0',
  '11.61',
  '451.0',
  '7.12',
  '7.85',
  '24.55',
  '12.61',
  '153.27',
  '34.0',
  '62.89',
  '11.24',
  '1145.25'],
 'current': ['31.2',
  '1510.0',
  '15.16',
  '94.8',
  '11.95',
  '71.0',
  '11.75',
  '3.59',
  '9.0',
  '59.99',
  '15.0',
  '57.89',
  '9.4',
  '62.0',
  '15.05',
  '240.5',
  '259.0',
  '23000.0',
  '319.0',
  '181.99',
  '7.17',
  '22.93',
  '48.3',
  '125.75',
  '534.0',
  '31.65',
  '4.9',
  '139.01',
  '7.55',
  '7.8',
  '3.17',
  '8.1',
  '10.0',
  '43.98',
  '8.86',
  '212.94',
  '3.9',
  '15.0',
  '8.69',
  '105.0',
  '20.0',
  '8.56',
  '14.16',
  '1580.0',
  '24.94',
  '60.1',
  '30.0',
  '949.95',
  '126.99',
  '7.0',
  '20.55',
  '1.9',
  '7.2',
  '16.4',
  '7.8',
  '13.5',
  '28.25',
  '125.11',
  '9.4',
  '966.0',
  '179.5',
  '27.0',
  '21.0',
  '15.8',
  '13.2',
  '74.0',
  '62.99',
  '0',
  '31.0',
  '9.0',
  '128.7',
  '47.66',
  '12.47',
  '50.01',
  '372.63',
  '120.0',
  '90.0',
  '6.9',
  '110.0',
  '350.0',
  '46.65',
  '7.64',
  '270.0',
  '9.35',
  '10.33',
  '11.43',
  '430.0',
  '10.87',
  '31.44',
  '55.25',
  '312.04',
  '1073.47',
  '1060.0',
  '123.14',
  '114.72',
  '46.25',
  '44.76',
  '4.99',
  '5.0',
  '49.84',
  '102.0',
  '7.0',
  '18.99',
  '122.5',
  '20.25',
  '49.0',
  '32.0',
  '56.0',
  '13.49',
  '459.99',
  '7.14',
  '8.5',
  '26.45',
  '12.83',
  '157.8',
  '34.0',
  '72.05',
  '11.99',
  '1160.0'],
 'change': ['-0.5',
  '',
  '-0.07',
  '-0.94',
  '-0.04',
  '',
  '-0.23',
  '-0.11',
  '-0.1',
  '-0.71',
  '',
  '-0.65',
  '',
  '-0.13',
  '-0.35',
  '-4.07',
  '-6.59',
  '-461.63',
  '-14.36',
  '-5.45',
  '-0.04',
  '',
  '-0.03',
  '-1.07',
  '-2.34',
  '',
  '-0.09',
  '-0.73',
  '-0.02',
  '-0.88',
  '-0.14',
  '',
  '-0.04',
  '-3.08',
  '-0.09',
  '-10.32',
  '',
  '-0.87',
  '',
  '',
  '-0.42',
  '',
  '',
  '-3.19',
  '',
  '-2.29',
  '',
  '-14.69',
  '-0.02',
  '-0.01',
  '-0.38',
  '',
  '',
  '',
  '',
  '-1.16',
  '-0.65',
  '-0.95',
  '-0.06',
  '-8.03',
  '-6.52',
  '-0.02',
  '',
  '-0.02',
  '',
  '-1.91',
  '',
  '',
  '-1.57',
  '-0.02',
  '',
  '',
  '-0.22',
  '',
  '-20.54',
  '',
  '',
  '',
  '-4.84',
  '-8.17',
  '',
  '-0.07',
  '',
  '-0.02',
  '',
  '-1.27',
  '',
  '-0.14',
  '-1.39',
  '',
  '',
  '',
  '',
  '',
  '-1.93',
  '',
  '',
  '-0.34',
  '-0.3',
  '',
  '',
  '',
  '',
  '-2.11',
  '-0.64',
  '',
  '',
  '',
  '-0.35',
  '',
  '',
  '-0.12',
  '',
  '-0.55',
  '-8.18',
  '',
  '',
  '-1.12',
  '-30.05'],
 'volume': ['22,328',
  '1',
  '4,100',
  '82,947',
  '7,000',
  '227',
  '15,500',
  '4,199,634',
  '2,211',
  '17,776',
  '132',
  '2,562',
  '7',
  '266,055',
  '18,500',
  '587,830',
  '4,992',
  '483',
  '4,298',
  '77,500',
  '5,256,500',
  '22,500',
  '117,500',
  '4,528,000',
  '9,000',
  '260',
  '18,302',
  '12,073',
  '126,343',
  '5,336',
  '612,561',
  '256',
  '102',
  '807',
  '3,004',
  '5,500',
  '20',
  '1,301',
  '5',
  '149',
  '5,782',
  '59',
  '3',
  '162',
  '207',
  '513',
  '43',
  '42',
  '200',
  '78,884',
  '4,125',
  '346',
  '323',
  '532',
  '3',
  '504',
  '21,600',
  '10,934,032',
  '258,965',
  '109,496',
  '2,921,233',
  '480,789',
  '878',
  '13,478',
  '170',
  '719',
  '208',
  '20,000',
  '3,100',
  '23,923',
  '61',
  '187',
  '536',
  '167',
  '102',
  '1,086',
  '72',
  '22',
  '18,540',
  '201',
  '6',
  '29,203',
  '17',
  '39,495',
  '273',
  '275,984',
  '23',
  '701',
  '3,066',
  '151',
  '19',
  '2',
  '60',
  '75',
  '46,679',
  '169',
  '4,000',
  '2,168,668',
  '1,691',
  '104',
  '211',
  '2',
  '24',
  '42,038',
  '7,693',
  '113',
  '70',
  '201',
  '602',
  '17',
  '2',
  '124,584',
  '70',
  '40,416',
  '185,692',
  '153',
  '257',
  '600',
  '3,844'],
 'scrap_time': [datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 32989),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 35001),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 37009),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 39018),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026),
  datetime.datetime(2025, 5, 3, 22, 51, 3, 41026)]}

In [49]:
transform_data(dictionary)

(                 titles     ldcp    opens     high      low  current  change  \
 0       Dewan Auto Engg    31.62    29.40    33.76    29.40    31.20   -0.50
 1          Siemens Pak.  1500.00  1510.00  1510.00  1510.00  1510.00     NaN
 2       Power Cem(Pref)    15.23    16.75    16.75    15.16    15.16   -0.07
 3         Berger Paints    94.99    96.00    97.84    93.01    94.80   -0.94
 4     Engro Poly (Pref)    11.99    11.50    11.95    11.50    11.95   -0.04
 ..                  ...      ...      ...      ...      ...      ...     ...
 114     Sunrays Textile   170.30   153.27   174.90   153.27   157.80   -8.18
 115  Prosperity Weaving    35.00    35.00    35.01    34.00    34.00     NaN
 116     Shahtaj Textile    69.88    75.85    75.85    62.89    72.05     NaN
 117      Zephyr Textile    12.49    11.24    11.99    11.24    11.99   -1.12
 118       Pak TobaccoXD  1192.39  1193.00  1199.98  1145.25  1160.00  -30.05

      volume                 scrap_time  day_range  volatility_perc
 0     22328 2025-05-03 22:07:57.656480       4.36        14.829932
 1         1 2025-05-03 22:07:57.656480       0.00         0.000000
 2      4100 2025-05-03 22:07:57.656480       1.59         9.492537
 3     82947 2025-05-03 22:07:57.656480       4.83         5.031250
 4      7000 2025-05-03 22:07:57.656480       0.45         3.913043
 ..      ...                        ...        ...              ...
 114  185692 2025-05-03 22:07:57.669229      21.63        14.112351
 115     153 2025-05-03 22:07:57.669229       1.01         2.885714
 116     257 2025-05-03 22:07:57.669229      12.96        17.086355
 117     600 2025-05-03 22:07:57.669229       0.75         6.672598
 118    3844 2025-05-03 22:07:57.669229      54.73         4.587594

 [119 rows x 11 columns],
                  titles    ldcp   opens    high     low  current  change  \
 77     Tariq Corp(Pref)    7.88    6.88    8.74    6.88     6.90     NaN
 37      Imperial Limite   15.87   14.30   17.30   14.30    15.00   -0.87
 55      Popular Islamic   14.18   13.01   15.60   13.01    13.50   -1.16
 108  Nazir Cotton Mills   12.90   11.61   13.89   11.61    13.49   -0.35
 35         Dawood LawXD  215.82  223.00  236.60  194.24   212.94  -10.32

      volume                 scrap_time  day_range  volatility_perc
 77       22 2025-05-03 22:07:57.666365       1.86        27.034884
 37     1301 2025-05-03 22:07:57.665308       3.00        20.979021
 55      504 2025-05-03 22:07:57.666365       2.59        19.907763
 108     602 2025-05-03 22:07:57.669229       2.28        19.638243
 35     5500 2025-05-03 22:07:57.665308      42.36        18.995516  ,
               titles    ldcp   opens    high    low  current  change  volume  \
 49      UDL Int.Ltd.    7.01    7.49    7.49    6.9     7.00   -0.01   78884
 28      Habib Ins.XD    7.54    7.30    7.90    7.3     7.55   -0.02  126343
 48    Tri-Pack Films  127.00  126.90  127.00  126.9   126.99   -0.02     200
 61  Engro PowergenXD   27.05   27.15   28.00   26.9    27.00   -0.02  480789
 63   Globe Residency   15.52   15.52   15.85   15.5    15.80   -0.02   13478

                    scrap_time  day_range  volatility_perc
 49 2025-05-03 22:07:57.666365       0.59         7.877170
 28 2025-05-03 22:07:57.665308       0.60         8.219178
 48 2025-05-03 22:07:57.666365       0.10         0.078802
 61 2025-05-03 22:07:57.666365       1.10         4.051565
 63 2025-05-03 22:07:57.666365       0.35         2.255155  ,
                titles      ldcp     opens      high       low   current  \
 17   Unilever FoodsXD  23469.75  23500.00  24000.00  21200.02  23000.00
 118     Pak TobaccoXD   1192.39   1193.00   1199.98   1145.25   1160.00
 74    Shahmurad Sugar    381.05    360.00    399.88    360.00    372.63
 47       Pak Services    957.03    912.02   1032.98    912.02    949.95
 18        ZIL Limited    315.00    314.50    330.00    290.00    319.00

      change  volume                 scrap_time  day_range  volatility_perc
 17  -461.63     483 2025-05-03 22:07:57.656480    2799.98        11.914809
 118  -30.05    3844 2025-05-03 22:07:57.669229      54.73         4.587594
 74   -20.54     102 2025-05-03 22:07:57.666365      39.88        11.077778
 47   -14.69      42 2025-05-03 22:07:57.666365     120.96        13.262867
 18   -14.36    4298 2025-05-03 22:07:57.656480      40.00        12.718601  )

In [50]:
insert_data()

✅ Connected to SQL Server successfully!
✅ Inserted 119 rows into database.
✅ Inserted 5 rows into database.
✅ Inserted 5 rows into database.
✅ Inserted 5 rows into database.